<div class="container">
  <h2>Change Password</h2>
  <div class="form-group">
    <label for="oldPassword">Old Password:</label>
    <input
      type="password"
      id="oldPassword"
      name="oldPassword"
      [(ngModel)]="oldPassword"
    />
  </div>
  <div class="form-group">
    <label for="newPassword">New Password:</label>
    <input
      type="password"
      id="newPassword"
      name="newPassword"
      [(ngModel)]="newPassword"
    />
  </div>
  <button class="btn" (click)="changePassword()">Change Password</button>
</div>
