/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.mrgbtm {
    margin-top: 30px;
}

.mrgtop {
    margin-top: 10%;
}

.mrgrgh {
    margin-right: 2%;
}

.well {
    background-color: lightblue;
    padding: 3%;
}

.mrgbtmre {
    margin-top: 70px;
}
