.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00224d;
}

.not-found-container {
  background-color: #ff204e;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: #fff;
}

.not-found-container .btn {
  background-color: #5d0e41;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.not-found-container .btn:hover {
    background-color: #a0153e;
}
