h1 {
  color: #00224d;
  margin-bottom: 20px;
}
p {
  margin: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00224d;
}

.about-us-container {
  background-color: #ff204e;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: #fff;
}
